@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	min-width: 375px;
	overflow-x: hidden;
}

body {
	color: #000000;
	background: #ffffff;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

a {
	color: inherit;
	text-decoration: none;
}
